---
import type { MarkdownLayoutProps } from "astro";
import type { PostFrontmatter } from "./data";
import Prose from "../../components/Prose.astro";
import { getShortDescription, processArticleDate, generateSourceUrl } from "../../lib/utils";
import { GLOBAL } from "../../lib/variables";
import PageLayout from "../../layouts/PageLayout.astro";
import Section from "../../components/Section.astro";

type Props = MarkdownLayoutProps<PostFrontmatter>;

const { frontmatter } = Astro.props;
const shortDescription = getShortDescription(frontmatter.description);
const articleDate = processArticleDate(frontmatter.timestamp);
const sourceUrl = generateSourceUrl(frontmatter.filename, "posts");
---

<PageLayout>
  <Fragment slot="head">
    <title>{frontmatter.title} • {GLOBAL.alias}</title>
    <meta name="description" content={frontmatter.description} />
    <meta property="og:title" content={`${frontmatter.title} • ${GLOBAL.alias}`} />
    <meta property="og:description" content={shortDescription} />
    <meta property="og:image" content={`${GLOBAL.rootUrl}/${GLOBAL.avatar}`} />
    <meta property="og:url" content={frontmatter.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${frontmatter.title} • ${GLOBAL.alias}`} />
    <meta name="twitter:description" content={shortDescription} />
    <meta name="twitter:image" content={`${GLOBAL.rootUrl}/${GLOBAL.avatar}`} />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={sourceUrl} />
  </Fragment>
  <Section class="pt-8">
    <div class="flex flex-col gap-4 mt-8 mb-16">
      <h1 class="text-3xl sm:text-4xl leading-normal sm:leading-normal font-display">
        {frontmatter.title}
      </h1>
      <div class="flex justify-between">
        <span>{articleDate}</span>
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
    <p class="pt-8">~{GLOBAL.alias}</p>
  </Section>
</PageLayout>
