---
import Featured from "../components/Featured.astro";
import { GLOBAL } from "../lib/variables";
import type { PostFrontmatter } from "./posts/data";
import PostSnippet from "./posts/PostSnippet.astro";

type Props = {
  featuredPosts: Array<PostFrontmatter>;
};

const { featuredPosts: featuredPosts } = Astro.props;
---

<Featured url="/fragments" pageName="fragments">
  {
    (featuredPosts.length === 0 && <p>{GLOBAL.noPosts}</p>) ||
      featuredPosts.map((article) => (
        <li>
          <PostSnippet
            title={article.title}
            description={article.description}
            url={article.filename}
            timestamp={article.timestamp}
          />
        </li>
      ))
  }
</Featured>
