---
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { featuredPosts, featuredProjects } from "../lib/featured";
import { GLOBAL } from "../lib/variables";
import FeaturedPosts from "./FeaturedPosts.astro";
import FeaturedProjects from "./FeaturedProjects.astro";
import Hero from "./Hero.astro";
---

<!-- TODO how use metadata? then adjust to me -->
<PageLayout>
  <Fragment slot="head">
    <title>{GLOBAL.alias} • {GLOBAL.shortDescription}</title>
    <meta name="description" content={GLOBAL.longDescription} />
    <meta property="og:title" content={`${GLOBAL.alias} • ${GLOBAL.shortDescription}`} />
    <meta property="og:description" content={GLOBAL.longDescription} />
    <meta property="og:image" content={`${GLOBAL.rootUrl}/zaggonaut.png`} />
    <meta property="og:url" content={GLOBAL.rootUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${GLOBAL.alias} • ${GLOBAL.shortDescription}`} />
    <meta name="twitter:description" content={GLOBAL.longDescription} />
    <meta name="twitter:image" content={`${GLOBAL.rootUrl}/zaggonaut.png`} />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={GLOBAL.rootUrl} />
  </Fragment>
  <Section class="my-16">
    <Hero />
  </Section>
  <Section class="space-y-16">
    <h2 class="text-center text-xl sm:text-2xl font-display font-medium sm:text-left">Spotlight</h2>
    <div class="space-y-16">
      <Section>
        <FeaturedPosts featuredPosts={featuredPosts} />
      </Section>
      <Section>
        <FeaturedProjects featuredProjects={featuredProjects} />
      </Section>
    </div>
  </Section>
</PageLayout>

<!-- TODO can have my "Latest feed also show when i have pushed to a repo, 
 or deployed. Probably do two feeds side by side as the pushed/deployed 
 would be noisy" -->
