---
import Section from "../../components/Section.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout>
  <!-- <Fragment slot="head">
    <title>{GLOBAL.projectTitle} • {GLOBAL.alias}</title>
    <meta name="description" content={GLOBAL.projectLongDescription} />
    <meta property="og:title" content={`${GLOBAL.projectTitle} • ${GLOBAL.alias}`} />
    <meta property="og:description" content={GLOBAL.projectShortDescription} />
    <meta property="og:image" content={`${GLOBAL.rootUrl}/${GLOBAL.avatar}`} />
    <meta property="og:url" content={`${GLOBAL.rootUrl}/projects`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${GLOBAL.projectTitle} • ${GLOBAL.alias}`} />
    <meta name="twitter:description" content={GLOBAL.projectShortDescription} />
    <meta name="twitter:image" content={`${GLOBAL.rootUrl}/${GLOBAL.avatar}`} />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={`${GLOBAL.rootUrl}/projects`} />
  </Fragment> -->
  <Section class="py-4 my-8">
    <div class="flex items-center gap-4 pt-8 pb-16">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">i like these</h1>
    </div>
    <p>UNDER CONSTRUCTION</p>
    <!-- <ul>
      {
        likes.posts.map((like) => (
          <li>
            <ProjectSnippet
              title={project.title}
              description={project.description}
              url={project.filename}
              githubUrl={project.githubUrl}
              liveUrl={project.liveUrl}
              tags={project.tags ?? []}
            />
          </li>
        ))
      }
    </ul>
    <ul>
      {
        likes.sites.map((project) => (
          <li>
            <ProjectSnippet
              title={project.title}
              description={project.description}
              url={project.filename}
              githubUrl={project.githubUrl}
              liveUrl={project.liveUrl}
              tags={project.tags ?? []}
            />
          </li>
        ))
      }
    </ul> -->
  </Section>
</PageLayout>
