---
import { GLOBAL } from "../../lib/variables";
import type { ProjectFrontmatter } from "../../pages/projects/data";
import ProjectSnippet from "../../pages/projects/ProjectSnippet.astro";
import Featured from "../Featured.astro";

type Props = {
  featuredProjects: Array<ProjectFrontmatter>;
};

const { featuredProjects } = Astro.props;
---

<Featured url="/lab" pageName="lab">
  {
    (featuredProjects.length === 0 && <p>{GLOBAL.noProjects}</p>) ||
      featuredProjects.map((project) => (
        <li>
          <ProjectSnippet
            title={project.title}
            description={project.description}
            url={project.filename}
            githubUrl={project.githubUrl}
            liveUrl={project.liveUrl}
            tags={project.tags ?? []}
          />
        </li>
      ))
  }
</Featured>
