---
import { GLOBAL } from "../../lib/variables";
import type { PostFrontmatter } from "../../pages/posts/data";
import PostSnippet from "../../pages/posts/PostSnippet.astro";
import Featured from "../Featured.astro";

type Props = {
  featuredArticles: Array<PostFrontmatter>;
};

const { featuredArticles } = Astro.props;
---

<Featured url="/fragments" pageName="fragments">
  {
    (featuredArticles.length === 0 && <p>{GLOBAL.noArticles}</p>) ||
      featuredArticles.map((article) => (
        <li>
          <PostSnippet
            title={article.title}
            description={article.description}
            url={article.filename}
            timestamp={article.timestamp}
          />
        </li>
      ))
  }
</Featured>
