---
import type { ArticleFrontmatter } from "../../lib/types";
import { GLOBAL } from "../../lib/variables";
import ArticleSnippet from "../ArticleSnippet.astro";
import Featured from "../common/Featured.astro";
import SeeAll from "../common/SeeAll.astro";

type Props = {
  featuredArticles: Array<ArticleFrontmatter>;
};

const { featuredArticles } = Astro.props;
---

<Featured url="/fragments" pageName="fragments">
  {
    (featuredArticles.length === 0 && <p>{GLOBAL.noArticles}</p>) ||
      featuredArticles.map((article) => (
        <li>
          <ArticleSnippet
            title={article.title}
            description={article.description}
            url={article.filename}
            timestamp={article.timestamp}
          />
        </li>
      ))
  }
</Featured>
