---
import Anchor from "../../components/Anchor.astro";
import Snippet from "../../components/Snippet.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  githubUrl?: string;
  liveUrl?: string;
  tags: string[];
};

const { title, description, url, githubUrl, liveUrl, tags } = Astro.props;
---

<Snippet title={title} description={description} url={url}>
  <div slot="bonus-corner">
    {
      githubUrl ? (
        <Anchor url={githubUrl} class="text-base" external>
          GitHub
        </Anchor>
      ) : null
    }
    {
      liveUrl ? (
        <Anchor url={liveUrl} class="text-base" external>
          Live
        </Anchor>
      ) : null
    }
  </div>
  <div slot="bonus-row" class="flex flex-row wrap gap-2">
    {tags.map((tag) => <span class="-zag-text -zag-bg zag-transition px-2 py-1 text-sm font-semibold">{tag}</span>)}
  </div>
</Snippet>
